@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes carousel-animation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% + 20px));
  }
}

html {
  background: #202123;
  overflow: hidden;
}

@media (max-width: 720px) {
  pre {
    width: calc(100vw - 110px);
  }
}

pre:has(div.codeblock) {
  padding: 0;
}
